* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --HEADER-BGCOLOR: #202020;
  --HEADER-COLOR: #fff;

  --MAIN-BGCOLOR-START: #114B5F;
  --MAIN-BGCOLOR-END: #2BC016;

  --FOOTER-BGCOLOR: #000;
}

/* HEADER */

header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  align-items: center;
  padding: 0.5rem;
  color: var(--HEADER-COLOR);
  background-color: var(--HEADER-BGCOLOR);
}

#header-title-line a:any-link {
  text-decoration: none;
  color: var(--HEADER-COLOR);
}

/* MAIN */

main {
  min-height: 100vh;
  background: linear-gradient(45deg, var(--MAIN-BGCOLOR-START), var(--MAIN-BGCOLOR-END));
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 800px) {
  main #chessboard{
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 600px) {
  main #chessboard{
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 400px) {
  main #chessboard{
    width: 320px;
    height: 320px;
  }
}

#chessboard {
  border: solid 1px #000;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
  height: 800px;
  column-gap: 0;
  row-gap: 0;
}

.square {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #000;
  height: 12.5%;
  width: 100%;
}

#column-A .square:nth-child(even)
{
  background-color: #000;
  color: #fff;
}

#column-B .square:nth-child(odd)
{
  background-color: #000;
  color: #fff;
}

#column-C .square:nth-child(even)
{
  background-color: #000;
  color: #fff;
}

#column-D .square:nth-child(odd)
{
  background-color: #000;
  color: #fff;
}

#column-E .square:nth-child(even)
{
  background-color: #000;
  color: #fff;
}

#column-F .square:nth-child(odd)
{
  background-color: #000;
  color: #fff;
}

#column-G .square:nth-child(even)
{
  background-color: #000;
  color: #fff;
}

#column-H .square:nth-child(odd)
{
  background-color: #000;
  color: #fff;
}
/* FOOTER */

footer {
  height: 100px;
  background-color: var(--FOOTER-BGCOLOR);
}